@using Azure.Core
@model IEnumerable<EventEase.ViewModels.BookingViewModel>


@{
    ViewData["Title"] = "Bookings";
}

<h2>Bookings</h2>
<a class="btn btn-primary" asp-action="Create">Add New Booking</a>

<form asp-action="Index" method="get" class="mb-3">
    <div class="input-group">
        <input type="text" name="searchTerm" value="@Context.Request.Query["searchTerm"]" class="form-control" placeholder="Search by Booking ID or Event Name..." />
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Booking ID</th>
            <th>Event Name</th>
            <th>Event Date</th>
            <th>Venue</th>
            <th>Location</th>
            <th>Booking Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var booking in Model)
        {
            <tr>
                <td>@booking.BookingID</td>
                <td>@booking.EventName</td>
                <td>@booking.EventDate.ToShortDateString()</td>
                <td>@booking.VenueName</td>
                <td>@booking.VenueLocation</td>
                <td>@booking.BookingDate.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>

